* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.Base {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; 
    background-image: url('/background.jpg');
}

@media (max-width: 600px) {
    .Base {
        padding: 20px; 
    }
}
